@import url(fonts.css);


.footer {
    background: rgb(0, 8, 12);
}


.footer-title {
    background: linear-gradient(158.93deg, rgb(255, 206, 169), rgba(255, 206, 169, 0));
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    font-family: 'Raleway-Light';
    font-size: 80px;
    line-height: 66px;
    padding-top: 21px;
    padding-left: 119px;
}

.footer-content {
    display: flex;
    padding-left: 119px;
    column-gap: 20px;
}

.footer-content__info {
    border-radius: 20px;
    background: rgb(2, 13, 18);
    width: 287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 89px;
    padding-left: 87px;
    margin-top: 53px;
}

.footer-info__foto {
    margin-top: 30px;
}

.footer-info__text {
    color: rgb(255, 206, 169);
    font-family: 'Raleway-Regular';
    font-size: 11px;
    line-height: 13px;
    margin-top: 10px;
}

.footer-info__title {
    color: rgb(255, 206, 169);
    font-family: 'Raleway-SemiBold';
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 95px;
    padding-left: 119px;
    padding-right: 119px;
}


.footer-list__link {
    color: rgb(255, 206, 169);
    font-family: 'Raleway-SemiBold';
    font-size: 20px;
    line-height: 66px;
}